.height-auto {
    height: auto !important;
}

.font-bold {
    font-weight: bold !important;
}

.txt-trans-initial {
    text-transform: initial !important;
}
.txt-trans-upper {
    text-transform: uppercase !important;
}


/* Multiple Select */
.ms-container {
    width: auto !important;
}

.label, .jvectormap-tip {
    padding: 5px 5px 5px !important;
}

.acordion-called {
    padding: 10px 15px !important;
}

.switchery {
    margin-right: 10px;
    margin-top: 5px !important;
}

.jq-toast-wrap .jq-toast-single.jq-icon-error {
    font-size: 12px;
}


.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0 0px 0;
    border-radius: 4px;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    border-color: #dedede;
    color: #777;
}
.pagination > li > a, .pagination > li > span {
    border-color: #dedede;
    border-radius: 0 !important;
    color: #337ab7;
}

.pagination > li.active > a, .pagination > li.active > span {
    background: #337ab7;
    border-color: #337ab7;
}
.pagination > li.active > a:hover, .pagination > li.active > a:focus, .pagination > li.active > a:active, .pagination > li.active > span:hover, .pagination > li.active > span:focus, .pagination > li.active > span:active {
    background: #337ab7;
    border-color: #337ab7;
}


.my-btn
{
    padding: 2px 5px !important;
    margin: 2px 0 !important;
}